body {
  font-family: "Open Sans", sans-serif;
}
.primary-clor {
  color: darkorange;
}
/* nav relatd work */
.primary-button {
  border-radius: 5px;
  background-color: darkorange;
  border: 0;
  color: aliceblue;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
.primary-button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.nav-tital {
  font-size: 45px;
  color: black;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: rgb(81, 87, 87);
}
/* hedar relatad work */
.header {
  background-color: #fff8f3;
  background-image: url(/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
}
.benner-greting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.benner-tital {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
}

/* About section */
.about-section {
  padding: 0px 150px 0px;
  margin: 20px 20px 20px;
}
.main-about-section {
  padding: 0px 150px 45px;
  background-color: #fff8f3;
  border-radius: 35px;
}
.about {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 5px;
}
.description {
  text-align: center;
  color: #474747;
}
.about-contuct {
  display: flex;
  justify-content: space-around;

  padding-top: 25px;
}
.skill-section {
  padding: 10px 150px 0px;
  margin: 20px 20px 20px;
}
.skill-description {
  text-align: center;
}
.text-skil {
  font-size: 15px;
  color: #474747;
}
.cards {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  padding-top: 75px;
}
.card {
  width: 250px;
  height: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  padding-left: 15px;
  padding-top: 5px;
}
.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
  background-color: darkorange;
}

.summary-section {
  padding: 10px 150px 0px;
  margin: 20px 20px 20px;
  text-align: center;
}
.summarys {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}
